<%= form_for(international) do |f| %>
  <% if international.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(international.errors.count, "error") %> prohibited this international from being saved:</h2>

      <ul>
      <% international.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :country %>
    <%= f.country_select :country %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
