<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @international.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @international.country %>
</p>

<%= link_to 'Edit', edit_international_path(@international) %> |
<%= link_to 'Back', internationals_path %>


<div>
  <%for friendship in @international.friendships do %>
    <%= friendship.friend.name %>
  <% end %>
</div>

<div>
  <% for international in @international.inverse_friends %>
  <%=international.name %>
  <% end %>
</div>