<div class="container">
  <div class="row">
    <div class="col-md-7">    
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
        <%= @international.name %>
      </p>

      <p>
        <strong>Country:</strong>
        <%= @international.country_name %>
      </p>

      <%= link_to 'Edit', edit_international_path(@international), class: 'btn btn-warning' %> |
      <%= link_to 'Back', internationals_path, class: 'btn btn-default' %>

      <h2>List of friends</h2>
      <table class='table'>
        <thead>
          <th>Name</th>
        </thead>
        
        <tbody>
          <% for friendship in @international.friendships do %>
          <tr>
            <td><%= link_to friendship.friend.name, international_path(friendship.friend)  %></td>
          </tr>            
          <% end %>
        </tbody>      
      </table>
    </div>
  </div>
</div>