<div class="container">
  <div class="row">
    <div class="col-md-7">    
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
        <%= @international.name %>
      </p>

      <p>
        <strong>Country:</strong>
        <%= @international.country_name %>
      </p>

      <%= link_to 'Edit', edit_international_path(@international), class: 'btn btn-warning' %> |
      <%= link_to 'Back', internationals_path, class: 'btn btn-default' %>

      <h2>List of friends</h2>
      <table class='table'>
        <thead>
          <th>Name</th>
        </thead>
        
        <tbody>
          <% for friendship in @international.friendships do %>
          <tr>
            <td><%= link_to friendship.friend.name, international_path(friendship.friend) %></td>
            <td><%= link_to 'Delete friend', friendships_destroy_path(friendship), class: 'btn btn-default btn-danger' %></td>
          </tr>            
          <% end %>
        </tbody>      
      </table>
    </div>
    <div class="col-md-5">
      <h3>Add new friends</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>

        <tbody>
        <% @internationals.all_except.each do |international| %>
          <tr>
            <td><%= link_to international.name, international_path(international) %></td>
            <td><%= link_to 'Add friend', friendships_create_path(:friend_id => international), method: :post, class: 'btn btn-default' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>